*
!**/
!*.*
*.log
nimcache/
build/
docs/build/
.cache
.DS_Store
.vscode
.idea/
htmldocs/
*.exe
*.dll
*.orig
*.bak
*.bck
* - Copy.*
* - Copy (?).*
examples/**/*.tvg
*.out
nimble.develop
nimble.paths
nimbledeps
.nimpacker_cache